.development {
  margin-top: 96px;
  background-color: #16191d;
  padding-top: 4rem;
}

.title {
  margin: 0 auto 40px;
  color: #fff;
  font-size: 80px;
  text-align: center;
  font-weight: 400;
}

.heading {
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
}

.line {
  background-color: #f16522;
  height: 2px;
  width: 200px;
  margin: 0 auto 40px;
  border: 0;
}

.intro {
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  opacity: 0.8;
  margin: 0 auto;
  max-width: 790px;
  text-align: center;
}
